.main{
    display: flex;
    font-size: 30px;
}

.main img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.buyNow, .steam{
    font-size: 28px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}

.buyNow {
    width: 300px;
}

.steam {
    width: 230px;
}

@media only screen and (max-width: 700px) {
    .main {
        width: 100%;
    }

    .main img{
        width: 75px;
        height: 75px;
    }

    .buyNow, .steam{
        font-size: 20px;
        margin: 0 0 0 5px;
        display: flex;
        align-items: center;
    }

    .buyNow{
        width: 50%;
    }

    .steam{
        width: 50%;
    }
}