.main {
  padding: 0.5rem;
  min-height: 100vh;
  font-size: xx-large;
}

.signin {
  float: top;
  font-size: x-large;
  color: violet;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  padding: 5% 3% 13% 13%;
  display: grid;
  max-width: 100%;
  font-size: large;
  color: #247f82;
  width: var(--max-width);
}

.search {
  position: center;
  padding: 0% 20%;
}

.search form input {
  margin-left: 3%;
  position: center;
  padding: 0% 15% 0% 3%;
  height: 4rem;
  font-size: larger;
}
.search form button {
  position: center;
  margin-left: 3%;
  padding: 1% 5%;
  font-size: larger;
}
.search form button text {
  justify-items: auto;
  font-size: larger;
}

.search div li {
  font-size: xx-large;
  width: 100%;
}

.card:hover span {
  transform: translateX(4px);
}

.signin:hover {
  background: rgba(var(--signin-rgb), 0.1);
  border: 1px solid rgba(var(--singin-border-rgb), 0.15);
}

.signin:hover {
  transform: translateX(4px);
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }

  .signin:hover {
    transform: none;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {

  .search {
    position: center;
    padding: 0% 0%;
  }

  .search form input {
    position: left;
    padding: 0% 0% 0% 0%;
    font-size: larger;
  }

  .search form input {
    position: left;
    padding: 0% 0% 0% 0%;
    font-size: larger;
  }
  .search form button {
    position: left;
    font-size: larger;
  }

  .search div {
    position: left;
    padding: 0% 0%;
  }
  .search form input {
    margin-left: 0%;
    position: left;
    padding: 0% 0% 0% 0%;
    height: 4rem;
    font-size: larger;
  }
  .search form button {
    position: left;
    margin-left: 0%;
    padding: 1% 5%;
    font-size: larger;
  }
  .search form button text {
    justify-items: auto;
    font-size: larger;
  }

  .search div li {
    font-size: xx-large;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}